<header class="header-area header-style-5">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) 9123 - 456 - 780</a></li>
                            <li><i class="fi-rs-marker"></i><a  href="/contact">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <!-- <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a href="/">View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today <a href="/">Shop now</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li><i class="fi-rs-user language-dropdown-active"></i>
                                <a href="/user/login">
                                    <% if (locals.user) { %>
                                        <%= user.firstName %> <%= user.lastName %>
                                    <% } else { %> Log In / Sign Up <% } %>
                                </a>
                                <% if (locals.user) { %>
                                    <ul class="language-dropdown">
                                        <li><a href="/user">Account</a></li>
                                        <li><a href="/user?tab=orders">My Orders</a></li>
                                        <li><a href="/user/logout">Logout</a></li>
                                    </ul>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                    <nav>
                        <ul>
                            <li><a class="active" href="/">Home <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <% if (locals.categories) { %>
                                        <% for (let i = 0; i < categories.length; i++) { %>
                                            <% if(categories[i].isListed) { %>
                                                <li><a href="/<%= categories[i].categoryName.toLowerCase() %>"><%= categories[i].categoryName %></a></li>
                                            <% } %>
                                        <% } %>                                        
                                    <% } %>
                                </ul>
                            </li>                            
                            <li>
                                <a href="/user">My Account</a>
                            </li>
                            </li>                            
                            <li>
                                <a href="/user?tab=orders">My Orders</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-action-right">
                    <div class="search-style-2">
                        <form action="/search" method="get">
                            <select class="select-active" name="c">
                                <option value="">All Categories</option>
                                <% if (locals.categories) { %>
                                    <% for (let i = 0; i < categories.length; i++) { %>
                                        <% if(categories[i].isListed) { %>
                                            <option value="<%= categories[i].categoryName.toLowerCase() %>"><%= categories[i].categoryName %></option>
                                        <% } %>
                                    <% } %>                                        
                                <% } %>
                            </select>
                            <input type="text" placeholder="Search for items..." name="p">
                        </form>
                    </div>
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist">
                                <img class="svgInject" alt="Wishlist" src="/assets/imgs/theme/icons/icon-heart.svg">
                                <span class="pro-count blue"><% if(locals.wishlistCount) { %> <%= wishlistCount %> <% } else { %> 0<% }%></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Cart" src="/assets/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count blue"><% if(locals.itemsCount) { %> <%= itemsCount %> <% } else { %> 0<% }%></span>
                            </a>
                            <!-- Cart Dropdown List -->
                            <%- include('../home/cart-dropdown-list.ejs') %>
                        </div>
                        <div class="header-action-icon d-block d-lg-none">
                            <div class="burger-icon">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>