<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Oops...!</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css?v=3.4">
</head>

<body>    
    <!-- Header -->
    <%- include('./partials/home/home-header.ejs', {currTab: 'home'}) %>

    <!-- Mobile Header -->
    <%- include('./partials/home/home-mobile-header.ejs', {currTab: 'home'}) %>

    <main class="main page-404 mb-50 mt-50">
        <div class="container">
            <div class="row align-items-center height-25vh text-center mt-5">
                <div class="col-lg-8 m-auto">
                    <h1 class="mb-50 h1 fw-900 mt-4"><% if (locals.errStatus) { %>  <%- errStatus %> <% } else { %> 404 <% }  %></h1>
                    <h2 class="mb-30">Page Not Found</h2>
                    <p class="font-lg text-grey-700 mb-30">
                        The link you clicked may be broken or the page may have been removed.<br> visit the <a href="/"> <span> Homepage</span></a> or <a href="page-contact.html"><span>Contact us</span></a> about the problem
                    </p>
                    <h4 class="h4"> <% if (locals.message) { %><%- message %> <% }  %></h4>
                    <form class="contact-form-style text-center" id="contact-form" action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <div class="input-style mb-20 hover-up">
                                    <input name="name" placeholder="Search" type="text">
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-default submit-auto-width font-xs hover-up" href="/">Back To Home Page</a>
                    </form>
                </div>
            </div>
            <pre class="float-start"><% if (locals.error){ %>  <% if (locals.error.stack) { %> <%- error.stack %> <% }  %> <% }  %></pre> 
        </div>
    </main>
    
    <!-- Footer -->
    <%- include('./partials/home/home-footer.ejs') %>

    <!-- Preloader Start -->
    <%- include('./partials/home/home-preloader.ejs') %> 

    <!-- Vendor JS-->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js?v=3.4"></script>
</body>

</html>