<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css?v=3.4">
    <link rel="stylesheet" href="/css/custom-alert.css">
</head>

<body>
    <!-- Header -->
    <%- include('./partials/home/home-header.ejs', {currTab: 'shop'}) %>
    <!-- Mobile Header -->
    <%- include('./partials/home/home-mobile-header.ejs', {currTab: 'shop'}) %>
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (locals.wishlistItems) { %>                                                                        
                                        <% for (let i = 0; i < wishlistItems.length; i++) { %>
                                    <tr id="itemRow<%= i %>">
                                        <td class="image product-thumbnail"><img src="/img/products/<%= wishlistItems[i]?.productInfo[0]?.images[0] %>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="/<%= wishlistItems[i]?.productInfo[0]?.category%>/<%= wishlistItems[i]?.productInfo[0]?._id %>"><%= wishlistItems[i]?.productInfo[0]?.productName %></a></h5>
                                            <p class="font-xs"><%= wishlistItems[i]?.productInfo[0]?.brand %> - <%= wishlistItems[i]?.productInfo[0]?.category %></p>
                                        </td>
                                        <td class="price" data-title="Price"><span>₹<%= wishlistItems[i]?.salePrice %></span></td>
                                        <td class="text-center" data-title="Stock">
                                            <% if (wishlistItems[i]?.productInfo[0]?.stock > 0) { %>
                                                <span class="color3 font-weight-bold">In Stock</span>                                             
                                            <% } else { %>
                                                <span class="text-danger font-weight-bold">Out of stock</span>
                                            <% } %> 
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <button class="btn btn-sm" onclick="addToCart('<%= wishlistItems[i]?.productInfo[0]?._id %>')" <% if (wishlistItems[i]?.productInfo[0]?.stock < 1) { %>disabled<% } %> >
                                                <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                                            </button>
                                        </td>
                                        <td class="action" data-title="Remove"><a onclick="addToWishlist('<%= wishlistItems[i]?.productInfo[0]?._id %>', 'itemRow<%= i %>')"><i class="fi-rs-trash"></i></a></td>
                                    </tr>
                                    <% } %>   
                                    <% if(wishlistItems.length === 0) { %> 
                                        <tr>
                                            <td colspan="6" class="text-end">
                                                <h6 class="h6 text-center mt-20 mb-20">No items in Wishlist. Wishlist is empty!</h6>
                                            </td>
                                        </tr>
                                        <% } %>   
                                    <% }  %>
                                </tbody>
                            </table>
                        </div>
                        <a href="/cart" class="btn m-auto ms-3 float-end"> <i class="fi-rs-shopping-bag mr-10"></i> View Cart</a>
                        <a class="btn-primary-outline me-4 float-end" href="/search"><i class="fi-rs-box-alt mr-10"></i>Continue Shopping</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <%- include('./partials/home/home-footer.ejs') %>
    <!-- Preloader Start -->
    <!-- <%- include('./partials/home/home-preloader.ejs') %>   -->
    <!-- Custom Alert -->
    <%- include('./partials/home/custom-alert.ejs') %>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js?v=3.4"></script>
    <script src="/assets/js/shop.js?v=3.4"></script>
    <script src="/js/custom-alert.js"></script>  
    <script>
        function addToCart(prodId){
            console.log(prodId); 
            const url = "/add-to-cart/"+ prodId;
            console.log(url); 
            $.ajax({
                url: url, //your url
                method: "GET",
                success: function(response){
                    console.log(response);
                    if(response.status){
                        let count = $('#cartItemsCount').text();
                        count = parseInt(count) + Number(1);
                        console.log("Count : " + count);
                        $('#cartItemsCount').text(count);
                    } else {
                        window.location.href = '/user/login';
                    }
                },
                error: function(){
                    alert("error");
                }
            });
        }

        function addToWishlist(prodId, rowId){
            console.log(prodId); 
            const url = "/add-to-wishlist/"+ prodId;
            console.log(url); 
            $.ajax({
                url: url,
                method: "GET",
                success: function(response){
                    console.log(response);
                    if(response.status){
                        let count = $('#wishItemsCount').text();
                        if(response.add){
                            count = parseInt(count) + Number(1);
                        } else {
                            count = parseInt(count) - Number(1);                            
                        }
                        console.log("Count : " + count);
                        $('#wishItemsCount').text(count);
                        document.getElementById(rowId).style.display = 'none';
                    } else {
                        window.location.href = '/user/login';
                    }
                },
                error: function(){
                    alert("error");
                }
            });
        }
    </script>  
</body>

</html>