<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title><% if (locals.products) { %><%= products[0]?.category %><% } else { %>Category Page<% } %></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css?v=3.4">
</head>

<body>    
    <!-- Quick view -->
    <%- include('./partials/home/quick-view-modal.ejs') %>
    <!-- Header -->
    <%- include('./partials/home/home-header.ejs', {currTab: 'shop'}) %>
    <!-- Mobile Header -->
    <%- include('./partials/home/home-mobile-header.ejs', {currTab: 'shop'}) %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter style-2">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand"><% if (locals.totalCount) { %> <%= totalCount %> <% } else { %> 0 <% } %></strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                     <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span>
                                                <% if (locals.limit) { %>
                                                    <%= limit %>
                                                <% } else { %>
                                                    3
                                                <% } %> 
                                                <i class="fi-rs-angle-small-down"></i>
                                            </span>
                                        </div>
                                    </div> 
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a onclick="document.getElementById('limitInput').value='3';document.getElementById('limitForm').submit();" <% if (locals.limit) { %><% if (limit === '3') { %>class="active"<% } %><% } else { %>class="active"<% } %>>3</a></li>
                                            <li><a onclick="document.getElementById('limitInput').value='5';document.getElementById('limitForm').submit();" <% if (locals.limit) { %><% if (limit === '5') { %>class="active"<% } %><% } %>>5</a></li>
                                            <li><a onclick="document.getElementById('limitInput').value='15';document.getElementById('limitForm').submit();" <% if (locals.limit) { %><% if (limit === '15') { %>class="active"<% } %><% } %>>15</a></li>
                                            <li><a onclick="document.getElementById('limitInput').value='20';document.getElementById('limitForm').submit();" <% if (locals.limit) { %><% if (limit === '20') { %>class="active"<% } %><% } %>>20</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 
                                                <% if (locals.sort) { %>
                                                    <% if (sort === 'featured') { %>Featured<% } else %>
                                                    <% if (sort === 'p-asc') { %>Price: Low to High<% } else %>
                                                    <% if (sort === 'p-desc') { %>Price: High to Low<% } %>
                                                <% } else { %>
                                                    Featured
                                                <% } %>
                                                <i class="fi-rs-angle-small-down"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li>
                                                <a onclick="document.getElementById('sortInput').value='featured';document.getElementById('sortForm').submit();" <% if (locals.sort) { %><% if (sort === 'featured') { %>class="active"<% } %><% } else { %>class="active"<% } %>>
                                                    Featured
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="document.getElementById('sortInput').value='p-asc';document.getElementById('sortForm').submit();" <% if (locals.sort) { %><% if (sort === 'p-asc') { %>class="active"<% } %><% } %>>
                                                    Price: Low to High
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="document.getElementById('sortInput').value='p-desc';document.getElementById('sortForm').submit();" <% if (locals.sort) { %><% if (sort === 'p-desc') { %>class="active"<% } %><% } %>>
                                                    Price: High to Low
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="product-list mb-50">
                            
                            <!--single product-->
                            <% if (locals.products) { %>                                    
                                <% for (let i = 0; i < products.length; i++) { %>
                                    <div class="product-cart-wrap">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <div class="product-img-inner">
                                                    <a href="/<%= products[i]?.category.toLowerCase() %>/<%= products[i]?._id %>">
                                                        <img class="default-img" src="/img/products/<%= products[i]?.images[0] %>" alt="<%= products[i]?.productName %>">
                                                        <img class="hover-img" src="/img/products/<%= products[i]?.images[0] %>" alt="<%= products[i]?.productName %>">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                                    data-productname="<%= products[i]?.productName %>"
                                                    data-productcategory="<%= products[i]?.category %>"
                                                    data-productbrand="<%= products[i]?.brand %>"
                                                    data-productregularprice="₹<%= products[i]?.regularPrice %>"
                                                    data-productsaleprice="₹<%= products[i]?.salePrice %>"
                                                    data-productdescription="<%= products[i]?.shortDescription %>"
                                                    data-productstock="<%= products[i]?.stock %> Items In Stock"
                                                    data-productimage="/img/products/<%= products[i]?.images[0] %>"

                                                ><i class="fi-rs-search"></i></a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/<%= products[i]?.category.toLowerCase() %>"><%= products[i]?.category %></a>
                                            </div>
                                            <h2><a href="/<%= products[i]?.category.toLowerCase() %>/<%= products[i]?._id %>"><%= products[i]?.productName %></a></h2>
                                            <div class="product-price">
                                                <span>₹<%= products[i]?.salePrice %> </span>
                                                <span class="old-price">₹<%= products[i]?.regularPrice %></span>
                                            </div>
                                            <p class="mt-15"><%= products[i]?.shortDescription %></p>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add to cart" class="action-btn" onclick="addToCart('<%= products[i]?._id %>')"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }  %>
                            <!--single product--> 
                        </div>
                        <!--pagination-->
                        <% if (locals.totalPages) { %>                                    
                            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                    <% for (let i = 0; i < totalPages; i++) { %>
                                    <li class="page-item <% if (locals.currentPage) { %><% if (currentPage == i+1) { %>active<% } %><% } %> ">
                                        <!-- <a class="page-link" onclick="submitForm('pageForm','pageInput','<%= i+1 %>')" ><%= i+1 %></a> -->
                                        <a class="page-link" onclick="submitForm('pageForm','pageInput','<%= i+1 %>')" ><%= i+1 %></a>
                                    </li>                                    
                                    <% } %>
                                    <!-- <li class="page-item"><a class="page-link dot" href="#">...</a></li> -->
                                    <!-- <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li> -->
                                </ul>
                            </nav>
                        </div>
                        <% }  %>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <% if (locals.categories) { %>
                                    <% for (let i = 0; i < categories.length; i++) { %>
                                        <% if(categories[i]?.isListed) { %>
                                            <li><a href="/<%= categories[i]?.categoryName.toLowerCase() %>"><%= categories[i]?.categoryName %></a></li>
                                        <% } %>
                                    <% } %>                                        
                                <% } %>
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        <!-- <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Color</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Red (56)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>Green (78)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Blue (54)</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">Item Condition</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>New (1506)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>Refurbished (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>Used (45)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
                        </div> -->
                        <!-- Product sidebar Widget -->
                        <%- include('./partials/home/product-sidebar-widget.ejs') %>
                        
                        <!-- <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                            <img src="assets/imgs/banner/banner-11.jpg" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <h4>Save 17% on <br>Office Dress</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Pagination Filter Form -->
    <section>
        <form id="limitForm" action="<% if (locals.urlPath) { %><%= urlPath %><% } %>">
            <% if (locals.sort) { %><input type="hidden" name="sort" value="<%= sort %>"><% } %>
            <% if (locals.currentPage) { %><input  type="hidden" name="page" value="<%= currentPage %>"><% } %>
            <input id="limitInput" type="hidden" name="limit" value="<% if (locals.limit) { %><%= limit %><% } %>">
            <% if (locals.c) { %><input id="cInput" type="hidden" name="c" value="<%= c %>"><% } %>
            <% if (locals.p) { %><input id="pInput" type="hidden" name="p" value="<%= p %>"><% } %>
        </form>
        <form id="pageForm" action="<% if (locals.urlPath) { %><%= urlPath %><% } %>">
            <input id="pageInput" type="hidden" name="page" value="<% if (locals.currentPage) { %><%= currentPage + 1 %><% } %>">
            <% if (locals.sort) { %><input type="hidden" name="sort" value="<%= sort %>"><% } %>
            <% if (locals.limit) { %><input id="limitInput" type="hidden" name="limit" value="<%= limit %>"><% } %>
            <% if (locals.c) { %><input id="cInput" type="hidden" name="c" value="<%= c %>"><% } %>
            <% if (locals.p) { %><input id="pInput" type="hidden" name="p" value="<%= p %>"><% } %>
        </form>
        <form id="sortForm" action="<% if (locals.urlPath) { %><%= urlPath %><% } %>">
            <% if (locals.currentPage) { %><input  type="hidden" name="page" value="<%= currentPage %>"><% } %>
            <input id="sortInput" type="hidden" name="sort" value="<% if (locals.sort) { %><%= sort %><% } %>">
            <% if (locals.limit) { %><input id="limitInput" type="hidden" name="limit" value="<%= limit %>"><% } %>
            <% if (locals.c) { %><input id="cInput" type="hidden" name="c" value="<%= c %>"><% } %>
            <% if (locals.p) { %><input id="pInput" type="hidden" name="p" value="<%= p %>"><% } %>
        </form>
    </section>
    <!-- Footer -->
    <%- include('./partials/home/home-footer.ejs') %>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.4"></script>
    <script src="./assets/js/shop.js?v=3.4"></script>
    <script>
        function submitForm(formId, target, val){
            document.getElementById(target).value= val;
            document.getElementById(formId).submit();
        }
    </script>
    <script>
        function addToCart(prodId){
            console.log(prodId); 
            const url = "/add-to-cart/"+ prodId;
            console.log(url); 
            $.ajax({
                url: url, //your url
                method: "GET",
                success: function(response){
                    console.log(response);
                    if(response.status){
                        let count = $('#cartItemsCount').text();
                        count = parseInt(count) + Number(1);
                        console.log("Count : " + count);
                        $('#cartItemsCount').text(count);
                    } else {
                        window.location.href = '/user/login';
                    }
                },
                error: function(){
                    alert("error");
                }
            });
            //$.get(url);
            //fetch(url);
        }
    </script>
</body>

</html>